<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Monitoring page</h6>
    </div>
    <div class="card-body">

      <div class="table-responsive">
        <header>
          <button class="btn btn-primary" data-toggle="modal" data-target="#tableModal">add</button>
          <!-- <div class="encadrant">Name of supervisor: [Nom de l'encadrant]</div>
          <div class="avancement">Status: [Pourcentage]%</div>  -->
        </header>
        <!-- <div class="container"cdkDropListGroup>
          <div class="liste" id="Todo" 
          cdkDropList #pendingList="cdkDropList" [cdkDropListData]="pendingTask"
            [cdkDropListConnectedTo]="[pendingList,progressList,completedList]"
            (cdkDropListDropped)="drop($event)"
            >
            <h2>Pending tasks</h2>
            <div class="tache row gap-2" cdkDrag  *ngFor="let taskP of pendingTask"  [cdkDragData]="taskP">
              <span>{{taskP?.title}}</span>
              <span>{{taskP?.description}}</span>
              <span>{{taskP?.date}}</span>
            </div>

          </div>
          <div class="liste" id="InProgress"cdkDropList #progressList="cdkDropList" [cdkDropListData]="progressTask"
            [cdkDropListConnectedTo]="[pendingList,progressList,completedList]"
            (cdkDropListDropped)="drop($event)"
            >
            <h2>Current tasks</h2>
            <div class="tache row gap-2" id="tache1"cdkDrag *ngFor="let taskProg of progressTask" [cdkDragData]="taskProg">
              <span>{{taskProg?.title}}</span>
              <span>{{taskProg?.description}}</span>
              <span>{{taskProg?.date}}</span>
            </div>

          </div>
          <div class="liste" id="Done"cdkDropList #completedList="cdkDropList" [cdkDropListData]="completedTask"
            [cdkDropListConnectedTo]="[pendingList,progressList,completedList]"
            (cdkDropListDropped)="drop($event)"
            >
            <h2>Completed Tasks</h2>
            <div class="tache row gap-2" id="tache1"cdkDrag *ngFor="let taskC of completedTask" [cdkDragData]="taskC">
              <span>{{taskC?.title}}</span>
              <span>{{taskC?.description}}</span>
              <span>{{taskC?.date}}</span>
            </div>
         
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="tableModal" tabindex="-1" role="dialog" aria-labelledby="tableModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="tableModalLabel">Add task</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <form [formGroup]="addForm">
        <div class="section section-gestion">
          <label for="titre">Titre:</label>
          <input formControlName="title" type="text" id="titre" name="titre" placeholder="titre" 
            required minlength="3" maxlength="20">

          <br>

          <label for="description">Déscription:</label>
          <input formControlName="description" type="text" id="description" name="description" placeholder="..."
            required minlength="3" maxlength="20">

          <br>

          <label for="date">date:</label>
          <input formControlName="date" type="date" id="date" name="date" 
            required>
          <br>
     
        </div>
      </form>
      <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="submit()">add</button>
    </div>
  </div>
</div>
</div>