<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Monitoring page</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <header>
                    <div class="encadrant">Name of supervisor: [Nom de l'encadrant]</div>
                    <div class="avancement">Status: [Pourcentage]%</div>
                </header>
                <div class="container">
                    <div class="liste" id="attente">
                        <h2>Tasks Todo</h2>
                        <div class="tache" id="tache1">Title</div>
                        <div class="tache" id="tache2">Title 2</div>
                        <div class="tache" id="tache3">Title 3</div>
                        <!-- Ajoutez ici toutes les tâches en attente -->
                    </div>
                    <div class="fleche-container">
                        <div class="fleche" id="fleche_avant1">&rarr;</div>
                        <div class="fleche" id="fleche_arriere1">&larr; </div>
                    </div>
                    <div class="liste" id="en_cours">
                        <h2>Tasks In Progress</h2>
                        <!-- Ajoutez ici toutes les tâches en cours -->
                    </div>
                    <div class="fleche-container">
                        <div class="fleche" id="fleche_avant2">&rarr; </div>
                        <div class="fleche" id="fleche_arriere2">&larr; </div>
                    </div>
                    <div class="liste" id="terminees">
                        <h2>Tasks Done</h2>
                        <!-- Ajoutez ici toutes les tâches terminées -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>