
<div class="card">
  <form [formGroup]="addForm">
    <div >
      <div >
        <label>Password</label>
        <input type="password" class="form-control" placeholder="password" />
        <small id="passwordHelpInline" class="text-muted">
          Doit comporter entre 8 et 20 caractères.
        </small>
      </div>
      <div >
        <label>confirm Password</label>
        <input type="password" class="form-control" placeholder="confirmPassword" />
      </div>
      <button type="submit" [formMethod]="resetPassword()">enregistrer</button>
    </div>
  </form>
</div>

