<div class="card">
  <p-table [value]="data" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h1>Liste de mes offres</h1>

        <button
          type="button"
          class="btn btn-primary"
          (click)="addOffer()"
        >
          Ajouter offre
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">titre</th>

        <th scope="col">date de publié</th>
        <th scope="col">date d'expiration</th>

        <th scope="col">status</th>

        <th scope="col">actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item of data>
      <tr>
        <td>{{ item?.titre }}</td>
        <td>{{ item?.duree }}</td>
        <td>{{ item?.date }}</td>
        <td>{{ item?.date_dexpiration | date : "shortDate" }}</td>
        <td>{{ item?.number_candidats | date : "shortDate" }}</td>
        <td>{{ item?.status }}</td>
        <td>{{ item?.description }}</td>
        <td>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              actions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-btn dropdown-item">
                <i class="fas fa-trash-alt icon-delete"></i> Delete
              </button>
              <button
                class="dropdown-btn dropdown-item"
                data-toggle="modal"
                data-target="#tableModal"
              >
                <i class="fas fa-edit icon-update"></i> Update
              </button>
            </div>
          </div>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ data ? data.length : 0 }} offre(s).
      </div>
    </ng-template>
  </p-table>
</div>
