.container-fluid{
    background-image: url("https://img.freepik.com/photos-gratuite/fond-elegant-vide-espace-copie_24972-1807.jpg?t=st=1716902951~exp=1716906551~hmac=6ac6c57569a76672f73cc31e6406d2070355bc6d2841eaccd710f7b38eedadcf&w=996");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
 
    z-index: -1;
    
   
}
